.previewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.previewGrid > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.previewGrid .cardWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .previewGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .previewGrid {
    grid-template-columns: 1fr;
  }
}
