.previewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.previewGrid > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}




@media (max-width: 1024px) {
  .previewGrid {
    grid-template-columns: repeat(2, 1fr); /* タブレット: 2列 */
  }
}

@media (max-width: 600px) {
  .previewGrid {
    grid-template-columns: 1fr; /* スマホ: 1列 */
  }
}
