@tailwind base;
@tailwind components;
@tailwind utilities;

/* ReactQuill toolbarで設定されるクラスをプレビューでも反映 */
.ql-font-sans {
  font-family: Arial, Helvetica, sans-serif;
}
.ql-font-serif {
  font-family: Georgia, "Times New Roman", serif;
}
.ql-font-monospace {
  font-family: Menlo, Monaco, monospace;
}

.ql-size-small {
  font-size: 0.8rem;
}
.ql-size-large {
  font-size: 1.5rem;
}
.ql-size-huge {
  font-size: 2.5rem;
}

/* ReactQuill ドロップダウン対策 */
.Polaris-Card {
  overflow: visible !important;
}

.ql-picker-options {
  z-index: 9999 !important;
  position: absolute !important;
}



/* Quill ドロップダウンに表示されるラベルを正しくする */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="noto-sans"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="noto-sans"]::before {
  content: "Noto Sans";
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="noto-serif"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="noto-serif"]::before {
  content: "Noto Serif";
  font-family: "Noto Serif", Georgia, serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="noto-sans-jp"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="noto-sans-jp"]::before {
  content: "Noto Sans JP";
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="noto-serif-jp"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="noto-serif-jp"]::before {
  content: "Noto Serif JP";
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="yu-gothic"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="yu-gothic"]::before {
  content: "Yu Gothic";
  font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="hiragino-kaku-gothic"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="hiragino-kaku-gothic"]::before {
  content: "Hiragino Kaku Gothic";
  font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif;
}

/* Quillフォント定義 */
.ql-font-noto-serif {
  font-family: "Noto Serif", Georgia, "Times New Roman", serif !important;
}
.ql-font-noto-sans-jp {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif !important;
}
.ql-font-noto-serif-jp {
  font-family: "Noto Serif JP", "Hiragino Mincho ProN", "Yu Mincho", serif !important;
}
.ql-font-yu-gothic {
  font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !important;
}
.ql-font-hiragino-kaku-gothic {
  font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif !important;
}
